body {
    background-color: rgb(255, 207, 255);
}

/* 

    Propiedades de Texto

Están relacionadas con el estilo o formato de los textos HTML.

Controlamos su apariencia, espaciado,alineación y decoración.

Propiedades principales:

    Color: Define el color del texto y puede recibir diferentes valores: keywords hexadecimales, rgb, rgba, hsl, hsla, transparent. La a en el sitema rgb significa Alpha Chanel.

    Font family: Define la familia tipográfica del texto. Recibiendo los valores como: keywords, nombre de la familia, si tiene 2 o más palabras se colocan en comillas. Si tenemos fuentes de respaldo se separan por comas.

    font-size: Define el tamaño del texto. Acepta valores en px, em, rem, porcetnaje y funciones.

    font-style: El estilo de fuente y recibe parámetros: normal, italic, oblique.

    font-weigth: Define el peso tipográfico si la familia tipográfica lo permite.

*/

h1 {
    background-color: deeppink;
    color: magenta;
    color: orange;
    color: rgb(255, 193, 224);
    font-family: sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
}

p {
    color: rgb(117, 0, 78);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400; /* regular */
    font-weight: 900; /*  Black */
    font-weight: 100; /*  X-Light */
}

/* 
El hexadecimal se divide en 2 caractéres

 # 00 00 00
    r  g  b

    Los valores van de 0 al 9 y de A a F: 16 caractéres. El valor representa el color más obscuro y la f el más luminoso.

    Cuando los 3 pares tienen el mismo valor se pueden abreviar.

    # FF FF FF > #FFF
*/

/* 

    Propiedades de Alineación.

    text-align: Define la alineación del texto. Recibe los valores left, right, center, justify, start y end.

*/

a {
    color: #4ac;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 100;
}

h1{
    text-align: left; /* Default */
    text-align: right;
    text-align: center;
    text-align: justify; /*  Debe ser un Párrafo y tenga espacio para distribuir */
    text-align: start;
    text-align: end;
}

p {
    text-align: right;
}

a {
    background-color: rgb(0, 1, 48);
    text-align: justify; /*  No funciona */
}

/* 

    Propiedades de Estilo

    text-decoration: Esto añade una línea transversal al texto. Recibe valores: none, underline, overline, line-through

    text-transform: Controla la capitalización del texto. Recibe valores: uppercase, lowercase, y capitalize.

    line-height: Espacio entre las líneas de texto. Recibe valores en px, %, em, rem.

    letter-spacing: Espacio entre líneas. Recibe valores en px, em, rem y %.

    word-spacing: Espacio entre palabras. Recibe valores en px, em, rem y %.

    text-shadow: Sombra del texto. Sintaxis en el siguiente orden:
    offset-x offset-y blur color.

*/

.important {
    color: orange;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: underline;
}

h1 {
    text-transform: uppercase; /*  Todo es mayúsculas */
    text-transform: lowercase; /*  Toodo es minúsculas */
    text-transform: capitalize; /*  Primera Letra en mayúscula */
    letter-spacing: 0px;
    text-shadow: -5px -5px 0px rgb(30, 0, 21);
}

p {
    /* line-height: 25px; */
    word-spacing: 30px;
}