/* 

    Selectores.

    Son declaraciones que permiten seleccionar y aplicar estilos a los elementos de HTML.

    1. Básicas.

    Selector universal: Selecciona todos los elementos de HTML se usa el *.

    Selector de elemento: Selecciona un tipo de elemento de HTML con su nombre.

*/

* {
    border: 2px solid red;
    /* Se utiliza para hacer un resset o normalizar los estilos iniciales del navegador */
    margin: 0
    padding 0 
}

/* 

2. Selectores Clase y ID.

Seleccionan los elementos de HTML que tienen definida una clase o un id en sus atributos.

Clase: Se usa la notación de .nombre-clase.
ID: Se usa la notación de #nombreId.

*/

.XDDDDD {
    border: none;
    background-color: rgb(255, 0, 208);
}

#título {
    color: black;
    font-size: 48px
}

.frase {
    Border: none
}

#matona {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

/* 

Selectores combinados

 - Descendientes. Seleccionan elemntos dentro de otros elementos.

    elementp elementointerno{
    ...
}
*/

section h2 {
    color:rgb(255, 183, 0)
}

body .galeria{
    border: none
    background color rgb(255, 0, 208)
}

.galeria .monstruos {
    border: none
    background color rgb(73, 9, 98)
}

/* 

Selectores combinados

 - Hijo directo. Selecciona elementos que son hijos directos de un elemento padre.

    elemrntoPadre > elementohijo {
    ...
}

*/

.monstruos > li {
    border: none
    text-align center
    margin-botton 24px
    background-color rgb(73, 9, 98)

}

/* 

Selectores conectados

 - Elemento adyacente. Selecciona el primer elemento inmediatamente después de otro elemento. Es decir su hermano inmediato.

    elemento + elementoAdyacente {
    ...
    }

*/

.primer-hermano + li {
    font-size: 2rem;
    color: rgb(0, 238, 255);
}

/* 

 Selectores combinados

  -Hermanos General. Selecciona todos los hermanos después de un elemento.

  elemento ~

*/

.primer-hermano ~ li {
    font-family: monospace;
    text-decoration: underline;
}