* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px;
}

.container {
    display: flex;
   /*  height: 1000px; */
    flex-direction: row;
    justify-content: flex-start; /* Default */
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    background-color: cadetblue;
    padding: 16px;
}

.item {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px salmon;
    background-color: rgb(89, 240, 240);
    font-size: 3rem;
}

/* 

Orden suferido de propiedades

1- Layout (Display)
2- Tamaños (with y height
3- Espacios (Padding, Margin)
4- Tipográficos (Font-family)
5- Color (color)
6- Estilo (Border, box-shadow)
7- Otras (Transform, animation)

*/