*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-wrap: wrap;

    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 24px;
    background-color: lightseagreen;
}

.item {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    background-color: paleturquoise;
    border: 2px rgb(255, 0, 195);
}