/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(171, 171, 215);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.profile-card {
    width: 300px;
    margin: 0 auto;
    background-color: rgb(0, 8, 91);
    box-shadow: 0 24px 24px rgba(16, 7, 48, 0.6);
    border-radius: 12px;
    padding: 24px;
}

.profile-photo {
    max-width: 120px;
    border-radius: 50%;
    border: 4px rgb(0, 208, 255);
    margin-bottom: 16px;
}

.profile-details h2 {
    color: rgb(169, 220, 232);
    font-weight: 600;
    font-size: 24px;
}

.profile-details p {
    font-weight: 400;
    font-size: .875rem;
}