/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(171, 171, 215);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.profile-card {
    width: 300px;
    margin: 0 auto;
    background-color: rgb(0, 8, 91);
    box-shadow: 0 24px 24px rgba(16, 7, 48, 0.6);
    border-radius: 12px;
    padding: 24px;
    position: relative;
}

.profile-header {
    color: rgb(93, 93, 255);
    margin-bottom: 24px;
}


.profile-photo {
    max-width: 120px;
    border-radius: 50%;
    border: 4px rgb(0, 208, 255);
    margin-bottom: 16px;
}

.profile-details h2 {
    color: rgb(169, 220, 232);
    font-weight: 600;
    font-size: 24px;
}

.profile-details p {
    font-weight: 400;
    font-size: .875rem;
}

.profile-skills {
    margin-bottom: 24px;
}

.profile-skills h3 {
    color: rgb(93, 93, 255);
    font-size: 1.125rem;
    margin-bottom: 16px;
}

.skills-list {
    list-style: none;
}

.skills-list li {
    padding: 4px 8px;
    color: rgb(169, 220, 232);
    background-color: rgb(56, 56, 157);
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 3px;
}

.contact-buttom {
    padding:  12px 8px;
    background-color: rgb(169, 220, 232);
    color: rgb(0, 7, 56);
    font-size: 1rem;
    font-weight: 600;
    display: block;
    border-radius: 4px;
    margin-bottom: 12px;
    text-decoration-line: none;
}

.social-media img {
    width: 24px;
    height: 24px;
    background-color: rgb(56, 56, 157);
    border-radius: 50%;
    padding: 2px;
}

.status-badge {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(169, 220, 232);
    color: rgb(0, 7, 56);
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 3px;
    position: absolute;
    margin-top: 50%;
}